.logo{
    font-family: 'Rock Salt';
	font-weight: bolder;
	font-style: italic;
	letter-spacing: 5px;
	text-shadow:0 0 5px rgba(0, 255, 255,0.5), 0 0 10px rgba(0, 0, 0,1);
}

.font{
    font-family: 'Rock Salt', 'cursive';
}
form{
    background-color: cadetblue;
}